@import "../../routes/App/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.indexPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .welcome {
    font-size: 10rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
  }
}
